[main]
Description=
Host=207.211.77.52
AuthType=1
GroupName=TPMG_RA
GroupPwd=
enc_GroupPwd=FCD30CC9A64D03F788CAB03931FFF529207BD2A74D338407E2B37C9CAEF25156071EDE0EC6864C6066C6173A5C97939C4C0FB28C84F8E205
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
